{% extends 'market/base.html' %}
{% block content %}
    {% if request.user.is_authenticated %}
        <div class="top-info ps-2">
            <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">Address</a></small>
            <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">Messages</a></small>
        </div>
        <div class="top-link pe-2">
            <h3>
                <i class="fas fa-user me-2 text-secondary"></i> <a class="text-white">{{ request.user.username }}</a>
            </h3>
            <form action="{% url 'user-logout' %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button class="btn btn-link text-white">Log out</button>
            </form>
        </div>
    {% else %}
        <div class="top-info ps-2">
            <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">Address</a></small>
            <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">Messages</a></small>
        </div>
        <div class="top-link pe-2">
            <a href="{% url 'user-login' %}" class="text-white"><small class="text-white mx-2">Login</small>/</a>
            <a href="{% url 'user-register' %}" class="text-white"><small class="text-white mx-2">Sign Up</small></a>
        </div>
    {% endif %}

    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Order History</h1>
    </div>
    <!-- Single Page Header End -->

    <!-- Orders -->
<div class="container">
        <div class="row g-4 justify-content-center">
            {% for order in orders %}
                <div class="col-md-6 col-lg-4">
                    <div class="rounded border border-secondary mb-4">
                        <div class="p-4">
                            <h4>Order {{ order.id }}</h4>
                            <p class="text-center">Made at: {{ order.date }}</p>
                            {% if order.status %}
                                <p class="text-center">Status: Paid</p>
                            {% else %}
                                <p class="text-center">Status: Awaiting payment</p>
                            {% endif %}
                            <div class="text-center">
                                <a href="{% url 'customer-order-detail' order.id %}" class="btn border border-secondary rounded-pill px-3 text-primary">Detail</a>
                            </div>
                            {% if not order.status %}
                                <p class="text-success">Status: Read</p>
                                <form action="{% url 'customer-delete-unpaid-order' order.id  %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger rounded-pill px-3">
                                        <i class="fa fa-trash me-2"></i> Delete Unpaid
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-12 text-center">
                    <p>No messages available.</p>
                </div>
            {% endfor %}
        </div>
    </div>
     <!-- Orders End -->
    {% include "Market/pagination.html" %}
{% endblock content %}
